body {max-width: 1600px; margin: 100 auto;
    background-color: aqua;
}
header{
    background-color: aquamarine;
}

nav a {text-align: center;
    background-color: #f56300;
    color:#e6e6e6(241, 241, 245);
    text-decoration: none;
    
}
nav a:hover{
     background-color: black;
     color:#006cc0;
 }
.home-title{
    color:#424245;
}
h4{
    color: #424245;
}
.book, .join {
    color: #424245;
    text-decoration: none;
}

.book:hover, .join:hover{
    color: #006cc0;
}
.msg h2{
    color: #f56300;
}

.msg p { 
    color: #006cc0;
}

.icon{
    width: 80px;
}
.logo {width:80px}

#hero-msg h1, #hero-msg h2 , h4 {text-align: center;

}

.button-box {text-align: center;

}

main section{text-align: center;

}

#background {    height:725px;
}

footer h3 {
    color:black;
    text-decoration: underline;
}
footer a {
    color: gray;
    text-decoration:none;
}
footer a:hoover{
    color:#f56300;
    text-decoration: underline;

}