main {
    flex: 1;
    background-color: aqua;
}

main article{
    background-color: azure;
    border: 1px solid #000;
    padding: 15px;
    margin-bottom: 20px;
}

footer{
    background-color:red ;
}

@media(min-wicth:768px) { 
    header {
        background-color: blueviolet ;
    }
    main{
        background-color: cadetblue;
    }
    main .content{
        display: grid ;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    main article{
        margin-bottom: initial;
    }
    footer{
        background-color: blueviolet;
    }
@media (main-width: 1024px) {
    header{
        background-color: darkgreen;
    }
    main {background-color: cornflowerblue;
    }
    main .content{
        grid-template-columns: 1fr 1fr 1fr;
    }
    main article{
        margin-bottom: initial;
    }
}

body .content {
    margin: 0 auto;
    padding: 20;
}
}